thead {
	border-radius: 50px 50px 0px 0px;
	background-color: #2C3E50;
	color: white;
}

table {
	table-layout: fixed;
	width: 100%;
}

td {
	padding: 5px;
}

tr:nth-child(even) {
    background-color: #f8f8f8;
}

.date-added {
	padding: 5px;
	width:30%;
}

.page-title {
	padding: 5px;
	width: 70%;
}

h4 { 
	margin-top: 0px; 
}

.comic-top {
	padding-left: 20px;
	padding-bottom: 20px;
}