<div class="row">
	<h3>{{comic.comic_title}}</h3>
	<div class="col-md-4">'
		<img src="{{comic.image}}">
		<div><h4>Genre</h4></div>
		<div><a routerLink="/genre/{{comic.genre}}">{{comic.genre}}</a></div>
		<div><h4>Language</h4></div>
		<div>{{comic.language}}</div>
	</div>
	<div class="col-md-8">
		<h3>Description</h3>
		<div [innerHtml]="comic.description"></div>
		<table>
			<thead>
				<tr class="first-table-cell">
					<td ngClass="date-added"><b>Date</b></td>
					<td ngClass="page-title"><b>Release</b></td>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let page of pages">
					<td ngClass="date-added" style="padding-right: 10px;">{{page.date_added}}</td>
					<td ngClass="page-title"><a href="{{page.page_url}}">{{page.page_title}}</a></td>
				</tr>
			</tbody>
		</table>
		<ul class="pagination">
			<li *ngIf="currentPage != 1"><a routerLink="/comic/{{currentComic}}/{{currentPage - 1}}" routerLinkActive="active">← </a></li>
			<li *ngFor="let displayPage of displayPages" ngClass="{{showActiveStyle(displayPage)}}">
				<a routerLink="/comic/{{currentComic}}/{{displayPage}}">{{displayPage}}</a>
			</li>
			<li *ngIf="currentPage != numPage"><a routerLink="/comic/{{currentComic}}/{{currentPage + 1}}" routerLinkActive="active"> →</a></li>
		</ul> 
	</div>
</div> 