<p>Latest</p>
<button (click)="getLatestComics();">Add</button>
test
<table>
	<thead>
		<tr class="first-table-cell">
			<td><b>Title</b></td>
			<td><b>Release</b></td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let page of pages">
			<td style="padding-right: 10px;"><a routerLink="/comic/{{page.comic_title_url}}" routerLinkActive="active">{{page.comic_title}}</a></td>
			<td><a href="{{page.page_url}}">{{page.page_title}}</a></td>
		</tr>
	</tbody>
</table>

<ul class="pagination">
  <li *ngIf="currentPage != 1"><a href="#">← </a></li>
  <li><a href="#">1</a></li>
  <li class="active"><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li *ngIf="currentPage != numPage"><a href="#"> →</a></li>
</ul>